<md-toolbar md-scroll-shrink flex ng-include="'views/layouts/navbar.html'"></md-toolbar>

<md-content layout="row" layout-align="center">
	<main flex>
		<md-subheader class="md-primary"><h2>Welcome to {{appName}}</h2></md-subheader>

		<div layout-padding>
			The best application to scan QR Code and Barcode.

			You can scan and maintain a history of all the QR-Code and Barcode you want.

			Got any tips, suggestion for improving the app?
			Send an email to my@email.com and we'll be happy to help.
		</div>
	</main>
</md-content>