<md-bottom-sheet class="md-list md-has-header fixed">
    <md-subheader class="md-primary">
        <h2>{{selected.type}}</h2>
    </md-subheader>
    <md-content layout-padding ng-bind-html="toTrusted(selected.text | adjust:selected.type)"></md-content>
    <md-divider></md-divider>
    <md-list>
        <md-list-item>
            <md-button class="md-list-item-content" ng-click="changeName(selected);">
                <md-icon>mode_edit</md-icon>
                <span class="md-inline-list-icon-label">Change name</span>
            </md-button>
        </md-list-item>
        
        <md-list-item ng-if="selected.type == 'Weblink'">
            <md-button class="md-list-item-content" ng-click="searchWeb(selected);">
                <md-icon>http</md-icon>
                <span class="md-inline-list-icon-label">Open</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Phone'">
            <md-button class="md-list-item-content" ng-click="callPhone(selected);">
                <md-icon>phone</md-icon>
                <span class="md-inline-list-icon-label">Call</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Email'">
            <md-button class="md-list-item-content" ng-click="sendEmail(selected);">
                <md-icon>send</md-icon>
                <span class="md-inline-list-icon-label">Send email</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Sms'">
            <md-button class="md-list-item-content" ng-click="sendSMS(selected);">
                <md-icon>send</md-icon>
                <span class="md-inline-list-icon-label">Send SMS</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Product'">
            <md-button class="md-list-item-content" ng-click="searchWeb(selected);">
                <md-icon>search</md-icon>
                <span class="md-inline-list-icon-label">Web Search</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Product'">
            <md-button class="md-list-item-content" ng-click="searchWeb(selected, true);">
                <md-icon>shop</md-icon>
                <span class="md-inline-list-icon-label">Product Search</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Product'">
            <md-button class="md-list-item-content" ng-click="copyClipboard(selected);">
                <md-icon>content_copy</md-icon>
                <span class="md-inline-list-icon-label">Copy to clipboard</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Geo'">
            <md-button class="md-list-item-content" ng-click="showMap(selected);">
                <md-icon>location_on</md-icon>
                <span class="md-inline-list-icon-label">Show map</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Geo'">
            <md-button class="md-list-item-content" ng-click="navigateTo(selected);">
                <md-icon>near_me</md-icon>
                <span class="md-inline-list-icon-label">Get directions</span>
            </md-button>
        </md-list-item>
        <md-list-item ng-if="selected.type == 'Calendar'">
            <md-button class="md-list-item-content" ng-click="addEvent(selected);">
                <md-icon>event</md-icon>
                <span class="md-inline-list-icon-label">Add event</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-list-item-content">
                <md-icon>share</md-icon>
                <span class="md-inline-list-icon-label" ng-click="shareScan(selected)">Share</span>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>